################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/Spaceballs/.vs/Spaceballs/v16
/Spaceballs/Debug
/Spaceballs/Spaceballs/Debug
